@media screen and (max-device-width: 580px) {
#climax{
    font-size: 4rem !important;
}
#inst{
    font-size: 2rem !important;
}
#logo{
    height: 250px !important;
    width: 250px !important;
}
#star{
    position: relative !important;
     bottom: 2rem !important;
     font-size: large !important;
}
#tm{
    top: 15px !important;
    left: 195px !important;
}
.dir-img{
    width: 10rem !important;
    height: 10rem !important;
margin: 0 auto !important;
}
}
@media screen and (max-device-width: 600px){
    .cr-img{
        max-width: 100% !important;
    }
}

* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    background-color: rgb(255, 231, 95);
}

#logo {
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
#tm{
    text-align: center;
    color: rgb(142,23,23);
    position: absolute;
    top: 20px;
    left: 230px;
    font-size: x-large;
    font-family: calibri;
    font-weight: 1000;
}
.jumbotron {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
   background-image: url(img3.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.text{
    color: rgb(179, 49, 19);
    font-weight: 900;
}

#climax {
        font-size: 8rem;
        line-height: 0.8;
}
#star{
    position: relative;
    bottom: 4.5rem;
    font-size: x-large;  
}
#inst {
        font-size: 4rem;
        line-height: 0.8;
}
#org {
        font-size: x-large;
}
#reg {
        font-size: x-large;
}
.dir-img{
    width: 15rem;
    height: 15rem;
    background-image: url(card.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
margin: 0 auto;
}
#dir{
    font-size: x-large;
}
#dir-name{
    font-size: larger;
}
.dir-msg{
    font-size: larger;
    font-family: Georgia, serif;
    text-align : justify;
}
